/* @media (max-width:1024px){  */
  .container {
    width: 50%;
  }
  body {
    height: 100vh;
    text-align: center;
  }
  body a{
    flex-direction: column;

    text-align: center;
    width: 300px;
  }
  body a span{
    width: 100%;
  }
  .container-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column
  }
/* } */
